[alias]
	aliases = config --get-regexp 'alias.*' # Jonas Gorauskas
	branchname = rev-parse --abbrev-ref HEAD # Rob Miller
	caa     = commit -a --amend -C HEAD # Nicola Paolucci
	ec      = config --global -e # Phil Haack
	empty-tree-sha1 = hash-object -t tree /dev/null # use with git diff --check, git scm wiki
	git     = rev-parse --git-dir
	hist    = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	index   = ls-files --stage
	lg      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative  # git scm wiki
	lol     = log --graph --decorate --oneline --all
	lolr    = log --oneline --decorate --walk-reflogs
	root    = rev-parse --show-toplevel
	serve   = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git # git scm wiki
	whatis  = show -s --pretty='tformat:%h (%s, %ad)' --date=short # Junio Hamano
	whois   = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -" # Junio Hamano
[apply]
	whitespace = fix
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
[credential]
	helper = cache --timeout=3600
	# helper = gnome-keyring
[diff]
	tool = vimdiff
[diff "xml"]
	textconv = xmllint --format --recover
[fetch]
	prune = 1
[filter "lfs"]
	clean = git lfs clean %f
	required = true
	smudge = git lfs smudge %f
[gist]
	browse = true
[help]
	autocorrect = 1
[http]
	sslfverify = false
[include]
	path = ~/.gitconfig-local
#[lfs]
#	url = "http://localhost:9999/tmp/scratch.git/info"
[merge]
	conflictstyle = diff3
	prompt = false
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[pull]
	rebase = true
[push]
	default=simple
[rerere]
	enabled = true
